<launch>  
  <arg name="gui" default="true" />
  
  <!-- occupancy map -->
  <include file="$(find iai_maps)/launch/map.launch" />

  <param name="robot_description" textfile="$(find pepper_description)/urdf/pepper.urdf" />
  <param name="shelf_description" command="$(find xacro)/xacro --inorder '$(find pepper_description)/urdf/dm_shelves.urdf.xacro'" />
  <param name="kitchen_description" command="$(find xacro)/xacro --inorder '$(find pepper_description)/urdf/dm_shelves.urdf.xacro'" />

  <param name="use_gui" value="$(arg gui)"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  <node name="shelf_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <remap from="robot_description" to="shelf_description"/>
  </node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="shelf_tf_state_publisher">
    <param name="publish_frequency" value="25"/>
    <remap from="robot_description" to="shelf_description" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="pepper_wrt_map_tf" args="0 0 0 0 0 0 /map /base_link 25"></node>
  <node pkg="tf" type="static_transform_publisher" name="shelf_wrt_map_tf" args="0 0 0 0 0 0 /map /room_link 25"></node>

</launch>